body {
background:#1E1E1E url(images/body_bg.jpg) repeat-x top left;
margin:0;
min-width:980px;
padding:0;
/*if you prefer a fixed widtd, uncomment the following line and adjust values accordingly*/
/*width:800px;*/
}

* {
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
color:#676767;
font-family:Microsoft Sans Serif, Tahoma, Verdana, Arial;
/*Increase font-size here to increase all font-sizes*/
font-size:.96em;
line-height:1.8em;
text-decoration:none;
}

p {
text-align:justify;
}

h1,h2,h3 {
font-weight:700;
line-height:1.5em;
margin-bottom:4px;
margin-top:0;
text-align:left;
text-transform:uppercase;
}

h1 {
text-shadow:2px 2px 2px #ccc;
font-size:120%;
}

h2,h3 {
font-size:100%;
}

.content_wrapper {
padding:0 0px;
}

.main-content-wrap {
margin:0 0px;
}

div.block {
-moz-box-shadow:4px 2px 6px rgba(0,0,0,0.6);
-o-box-shadow:4px 2px 6px rgba(0,0,0,0.6);
-webkit-box-shadow:4px 2px 6px rgba(0,0,0,0.6);
background:#ECECEC;
border:1px solid #ccc;
box-shadow:4px 2px 6px rgba(0,0,0,0.6);
display:block;
margin:2px 6px 10px 2px;
min-height:55px;
overflow:hidden;
padding:10px;
}

div.block .content {
display:inline-block;
margin:0 0 -1px;
min-height:85px;
padding:4px;
}

div.block h3 {
-moz-border-radius:0;
-webkit-border-radius:0;
background:#ededed;
border:none;
border-radius:0;
line-height:180%;
margin:0 -20px;
padding-left:20px;
width:130%;
}

/*most 'canvas items' displayed in the center column are here. Add classes as required.*/
.node,.node-type-list,.admin-panel,.collapsible,.profile,.comment,fieldset,.search-results,.box,.form-item,.content_top_block div.block,.content_after_blocks div.block,.admin-list,#aggregator,#block-admin-display-form {
background:#ECECEC;
display:inline-block;
margin:0 0 10px 0;
padding:1.5%;
width:97%;
}

.nodeTitle {
font-style:italic;
margin:0;
text-shadow:2px 2px 2px #ccc;
}

.submitted {
background:url(images/author.png) no-repeat top left;
display:block;
margin:0;
padding:0 0 3px 16px;
}

.taxonomy-term-description {
background-color:#D1D6FF;
border:solid 1px #C8CCE8;
margin:0 0 10px;
padding:5px 20px;
}

.links,.small,.submitted,.breadcrumb {
color:silver;
font-size:9px;
}

.breadcrumb {
float:left;
font-size:.6em;
font-weight:400;
height:10px;
margin:0 0 0 10px;
min-height:12px;
min-width:600px;
}

.links,.submitted a,.breadcrumb a {
color:#C0C0dd;
font-size:9px;
}

.links ul {
background-color:#dedede;
clear:both;
display:inline-block;
margin:auto;
width:98%;
}

a {
color:#2D3557;
line-height:18px;
text-decoration:underline;
}

a:hover {
color:#5884B2;
}

.page {
background:#050505 url(images/page_bg.jpg) repeat-x top left;
margin:3px 20px;
min-height:25px;
min-width:800px;
}

div.header {
-moz-border-radius:0;
-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
-webkit-border-radius:0;
-webkit-border-top-left-radius:5px;
-webkit-border-top-right-radius:5px;
background:#FFF url(images/header_bg.jpg) no-repeat top right;
border-radius:0;
border-top-left-radius:5px;
border-top-right-radius:5px;
float:left;
height:160px;
margin-top:-30px;
text-align:center;
width:100%;
}
/*headlines wraps around Logo, site title and subtitle*/
.headlines {
padding:0;
margin-top:-8px;
display:inline-block;
float:right;
width:100%;
height:134px;
text-align:left;
float:right;
position:relative;
}

img.logo-picture {
border-radius:0;
-moz-border-radius:0;
-webkit-border-radius:0;
position:relative;
top:-26px;
z-index:1;
float:left;
}

#site-title,#site-title a {
color:#586DE8;
font-size:48px;
margin:18px 0 0 0;
text-shadow:1px 1px 2px #444;
z-index:3;
width:100%;
text-align:center;
position:absolute;
display:block;
}

#subtitle {
color:#586DE8;
font-size:18px;
margin:68px 0 0 0;
text-shadow:1px 1px 2px #444;
z-index:3;
width:100%;
text-align:center;
z-index:4;
position:absolute;
display:block;
}

/*top_bar and header_bar are intended to hold one block each, such as search or login block*/
#top_bar,#header_bar {
display:inline-block;
margin-bottom:10px;
margin-top:0;
z-index:3;
}

#header_bar {
height:24px;
}

#top_bar {
background:#000 url(images/topbar_bg.jpg) repeat-x bottom left;
width:100%;
}

#top_bar *,#header_bar * {
float:left;
font-size:9px;
font-weight:400;
margin-left:3px;
padding-top:1px;
}

#top_bar div.form-item,#top_bar div.content,#header_bar div.form-item,#header_bar div.content {
background:none;
display:inline;
float:left;
margin:0 4px;
padding:0;
width:auto;
}

#top_bar div.block h3,#header_bar div.block h3 {
background:none;
border:none;
display:none;
float:left;
margin:0 4px;
width:auto;
}

#top_bar div.block,#header_bar div.block {
-moz-box-shadow:none;
-webkit-box-shadow:none;
background:none;
border:none;
box-shadow:none;
display:inline-block;
float:right;
height:26px;
margin:0 4px;
min-height:0;
padding:0;
with:auto;
}

#top_bar .form-item,#header_bar .form-item {
margin-top:-1px;
}

#top_bar input,#header_bar input {
background:#E0E0E0 url(images/button_bg.jpg) repeat-x 0 0;
border:solid 1px #00f;
}

#header_bar input {
border:solid 1px #444;
}

#top_bar ul li a,#header_bar ul li a {
background-color:#545252;
color:#858585;
height:16px;
margin-left:4px;
padding:0 6px;
}

#top_bar ul li a:hover,#header_bar ul li a:hover {
background:#0891E6;
color:#eee;
}

/*Tabs in the header menu*/
div.topmenu {
display:block;
float:left;
height:28px;
left:10px;
padding:0;
position:relative;
top:129px;
width:90%;
z-index:7;
}

.topmenu ul.links li {
-moz-border-radius:0;
-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
-webkit-border-radius:0;
-webkit-border-top-left-radius:5px;
-webkit-border-top-right-radius:5px;
background:url(images/topmenu_bg.jpg) repeat-x 0 -28px;
border-radius:0;
border-top-left-radius:5px;
border-top-right-radius:5px;
float:left;
font-size:15px;
font-weight:700;
height:29px;
margin-right:3px;
min-width:100px;
overflow:hidden;
text-align:center;
text-transform:uppercase;
}

.topmenu ul.links li a {
display:block;
margin-top:7px;
text-decoration:none;
}

.topmenu ul.links li.active-trail {
background:url(images/topmenu_bg.jpg) repeat-x left top;
}

.topmenu ul.links li.active-trail a {
color:#7099ED;
}

.topmenu ul.links li a:hover {
color:#729CD3;
}

/*define width and padding for the three columns and potential widths for center columns*/
div.col_left {
float:left;
min-width:180px;
overflow:hidden;
padding:0 1%;
width:20.5%;
}

.col_center,.col_center_78,.col_center_97,.col_center_66 {
display:inline-block;
float:left;
min-width:400px;
padding:0 0.75%;
width:48%;
}

.col_center_66 {
width:70.5%;
}

.col_center_78 {
width:75.5%;
}

.col_center_97 {
width:98%;
}

.col_center_632 img,.col_center img,.col_center_755 img,.col_center_935 img,.main-content-block img {
margin:0 4px 4px;
}

div.col_right {
float:right;
margin:0;
min-height:300px;
min-width:240px;
overflow:hidden;
width:25.5%;
padding:0 1%;
}

div.col_right img {
padding-bottom:3px;
}

div.col_right div.block ul,div.col_right div.block ul li {
line-height:1em;
list-style-type:none;
padding:0 0 0 14px;
text-decoration:none;
}

.footer div.block h3 {
background:none;
border:none;
}

.clear-both {
clear:both;
width:100%;
}

/*menu items and their behaviour*/
ul.menu {
display:block;
margin:0;
padding:0 0 0 8px;
}

ul.menu li,ul.menu li.leaf,ul.menu li.expanded,ul.menu li.collapsed {
display:block;
font-size:1.1em;
list-style-type:none;
margin-bottom:1px;
margin-left:-2px;
text-decoration:none;
}

ul.menu li a,ul.menu li.leaf a,ul.menu li.expanded a,ul.menu li.collapsed a {
border-left:solid 6px #B0B0B0;
display:block;
padding:5px 0 0 3px;
text-decoration:none;
}

ul.menu li a:hover,ul.menu li.leaf a:hover,ul.menu li.expanded a:hover,ul.menu li.collapsed a:hover {
border-left:solid 6px #2C80EF;
}

li.expanded ul {
display:block;
font-size:.8em;
margin-left:10px;
}

li.expanded ul li {
border-bottom:solid 1px #ececec;
overflow:hidden;
width:100%;
}

ul.menu .active {
color:#2C80EF;
font-weight:700;
}

div.content,.content_after_blocks {
margin-bottom:10px;
}

.content_after_blocks {
clear:both;
display:block;
min-height:200px;
padding-left:0;
}

.profile .node {
margin:0;
padding:0;
}

fieldset {
border:none;
margin-top:-5px;
}

.box {
overflow:hidden;
}

.box .form-submit{
margin-top:10px;
}

div.content p,.main-content-block p {
line-height:1.2em;
}

.more-link {
font-size:.8em;
}

.item-list ul li {
font-size:.9em;
list-style-type:none;
margin:0;
padding:0;
}

div.col_right input,div.col_left input {
font-size:.8em;
margin:0;
padding:0;
}

div.footer {
margin:0;
}

.footer * {
color:#bcbcbc;
}

div.footer p {
color:#999;
float:right;
font-size:.8em;
margin:0 14px;
}

.footer-blocks {
float:right;
margin:0;
padding:10px .5%;
width:99%;
}

.footer-blocks .block {
background:#313131;
display:block;
float:left;
margin:10px .3%;
min-height:160px;
overflow:hidden;
width:22%;
}

.footer-blocks .block * {
color:#666;
font-size:9px;
}

.footer-blocks .block * a {
color:#8d8d8d;
text-decoration:underline;
}

.footer-blocks .block * a:hover {
color:#2C80EF;
}

.footer-blocks .block h3 {
font-size:1em;
}

.footer-blocks .block .content {
background:none;
font-size:.85em;
}

#footerbar {
-moz-border-radius:0;
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;
-webkit-border-bottom-left-radius:5px;
-webkit-border-bottom-right-radius:5px;
-webkit-border-radius:0;
background:#000 url(images/footer_bg.jpg) no-repeat bottom left;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;
border-radius:0;
clear:both;
height:25px;
padding-top:7px;
}

#footerbar .message {
padding:0;
margin:0 10px;
float:right;
}

#footerbar .message * {
padding:0;
margin:0;
color:#666;
}

span.footer_small {
color:#444;
float:left;
font-size:.8em;
margin:0 10px;
padding:0;
}

span.footer_small a {
color:#110702;
text-decoration:none;
}

a.edit-this-link {
background-color:#E66321;
display:inline-block;
float:left;
font-size:.7em;
padding:0 3px;
}

.tabs,.tabs * {
-moz-border-radius:0;
-webkit-border-radius:0;
border-radius:0;
font-size:1em;
margin:0;
padding:0;
}

ul.tabs {
margin:4px 0;
padding:0 6px;
}

ul.tabs li a {
border:solid 1px #ddd;
height:30px;
margin:0;
padding:3px;
}

ul.pager {
display:block;
margin:auto auto 4px;
width:100%;
}

ul.pager li {
background:#ECECEC;
color:#cdcdcd;
font-size:.9em;
margin:0;
}

ul.pager li a:hover {
color:#1544E7;
}

ul.pager li.pager-current {
background:#9BB1FD;
color:#fff;
}

img.image-preview {
float:left;
padding:2px;
}

img.image-thumbnail {
border:solid 1px #ccc;
float:left;
padding:2px;
}

span.inline-left,span.inline.left {
display:block;
float:left;
}

span.inline-right,span.inline.right {
display:block;
float:right;
}

span.inline-center,span.inline.center {
display:block;
margin:5px;
text-align:center;
}

span.caption {
font-size:1em;
font-style:italic;
}

.profile .picture {
float:none;
}

div.messages {
margin:1px 0 2px;
min-height:24px;
padding:8px;
}

div.error {
background:#98C8FF url(images/attention.gif) no-repeat top left;
border:1px solid red;
color:#444;
display:block;
font-weight:700;
min-height:38px;
padding-left:64px;
}

div.status {
background:#98C8FF;
border:1px solid #18FD00;
color:#444;
display:block;
font-weight:700;
padding-left:28px;
}

.error a:hover {
color:#ffe7e7;
}

div.messages ul {
padding:0;
}

.item-list ul {
margin-top:5px;
padding-left:0;
}

.picture img {
float:right;
margin:5px;
padding:1px;
}

.comment .submitted {
margin-left:10px;
}

.comment-author {
font-weight:700;
margin-bottom:6px;
}

.comment-date {
margin-bottom:6px;
}

.this-link {
color:#aab7b7;
font-size:11px;
}

.this-link a {
color:#aab7b7;
display:block;
float:left;
}

.this-link a:visited {
color:#aab7b7;
}

.comment .new {
background:#5884B2;
color:#fff;
padding:1px 4px;
}

.comment .new a {
color:#fff;
text-decoration:none;
}

.comment p {
padding-bottom:6px;
}

.comment .content {
padding-top:10px;
}

.links-comment {
color:#869999;
float:left;
margin:0;
padding:0;
}

.links-comment .links li {
font-size:.85em;
margin-right:15px;
padding:0;
}

.links-comment a {
color:#869999;
font-size:10px;
}

.links-comment a:hover {
color:#517074;
}

.links-comment li.comment_reply a.comment_reply {
color:#349f00;
}

#comment-form .form-item {
margin-top:0;
}

#comment-form .form-item label {
float:left;
padding-right:10px;
}

input.form-submit {
background:#9AB4FE url(images/button.png) no-repeat center bottom;
border:solid 1px #3E64CE;
color:#1F40A0;
font-weight:700;
}

/*various definitions for the node edit form and contained elements, relevant only for authenticated users and admin*/
.admin-panel {
border:solid 1px #dedede;
}

legend.collapse-processed {
margin-top:-10px;
padding-top:0;
}

.node-form * {
border:none;
font-size:10px;
}

.node-form * .form-item {
width:auto;
}

.node-form * .form-item input{
background:#fff;
border:solid 1px #ccc;
}

fieldset.collapsed,fieldset.collapsible,fieldset legend {
background:#ECECEC;
display:block;
margin-top:10px;
}

.node-form .image-field-wrapper {
background:#ECECEC;
display:inline-block;
width:100%;
}

.node-form .teaser-checkbox {
display:inline-block;
float:right;
}

.node-form #edit-body-wrapper {
clear:both;
display:block;
margin:0;
padding:0 10px;
width:97%;
}

.smileys-box span {
clear:none;
float:none;
}

#edit-body-wrapper * {
clear:none;
}

.node-form .body-field-wrapper {
background:#ECECEC;
clear:both;
margin-top:12px;
width:100%;
}

.node-form input.form-submit {
margin-top:16px;
}

/*items in the footer of each node, read more link, taxonomy links...*/
.node .meta_links {
background:url(images/divider.png) no-repeat;
display:block;
float:left;
font-size:10px;
padding:1px;
width:100%;
}

.node .meta_links * {
font-size:9px;
}

.node .meta_links .links ul {
background:url(images/author_links.png) no-repeat;
float:left;
height:24px;
width:auto;
}

.node .meta_links .links ul li,.node .meta_links .terms ul li {
margin-left:7px;
padding:0 3px;
}

.node .meta_links .terms {
background:url(images/tags.png) no-repeat 0 0;
display:inline;
float:right;
height:24px;
width:auto;
}

.node .meta_links .terms ul {
margin-left:20px;
}

div.col_right div.block ul li a,ul.pager li a {
text-decoration:none;
}

#header_bar,#footer-links {
float:right;
}

#top_bar .form-required,#header_bar .form-required,#footerbar .block,#footerbar .block * {
display:none;
}

#top_bar ul,#top_bar ul li,#header_bar ul,#header_bar ul li,.links-comment ul.links,div.admin .left,div.admin .right {
margin:0;
padding:0;
}

.error a,.comment .new a:hover {
color:#fff;
}

#comment-form .resizable-textarea,.node-form .body-field-wrapper * {
clear:both;
}